<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="./src/Fridge/SubscriptionBundle/Tests/bootstrap.php"
         colors="true"
         processIsolation="false"
         stopOnFailure="false"
         syntaxCheck="false"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         testSuiteLoaderClass="PHPUnit_Runner_StandardTestSuiteLoader">

    <testsuites>
        <testsuite>
            <directory>./src/Fridge/SubscriptionBundle/Tests</directory>
        </testsuite>
    </testsuites>

</phpunit>
